@model IEnumerable<FormAPI.DTO.FormDto>
@using System.Security.Claims
@using BusinessObject

@{
    ViewData["Title"] = "Forms";
}

<h2>Forms</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>Form ID</th>
            <th>Student Email</th>
            <th>Category Name</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.FormId</td>
                <td>@form.StudentEmail</td>
                <td>@form.CategoryName</td>
                <td>@form.Subject</td>
                <td>@form.Status</td>
                <td>
                    <a asp-action="Details" asp-route-id="@form.FormId">Details</a>

                    @if (User.IsInRole("Student") && form.StudentId.ToString() == User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
                    {
                        @if(form.Status == 0)
                        {
                            <span> | </span>
                            <a asp-action="Edit" asp-route-id="@form.FormId">Edit</a>
                            <span> | </span>
                            <a asp-action="Delete" asp-route-id="@form.FormId">Delete</a>
                        }
                    }

                    @if (User.IsInRole("Department"))
                    {
                        <span> | </span>
                        @if (form.Status == FormStatus.Processing)
                        {
                            <a asp-controller="Response" asp-action="Update" asp-route-id="@form.FormId">Update</a> <span> | </span>
                        }
                        @if (form.Status == FormStatus.Pending && !form.HasResponse)
                        {
                            <a asp-controller="Response" asp-action="Reply" asp-route-formId="@form.FormId">Reply</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Student"))
{
    <a asp-action="Create" class="btn btn-primary">Create New Form</a>
}

