@using System.Security.Claims
@model FormClient.Controllers.ReplyViewModel

@{
    ViewData["Title"] = "Reply to Form";
}

<h2>Reply to Form</h2>

<h4>Form Details</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Subject</dt>
    <dd class="col-sm-10">@Model.FormSubject</dd>
    <dt class="col-sm-2">Content</dt>
    <dd class="col-sm-10">@Model.FormContent</dd>
</dl>

<h4>Response</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reply">
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FormId" value="@Model.FormId"/>
            <input type="hidden" asp-for="FormSubject" value="@Model.FormSubject" />
            <input type="hidden" asp-for="FormContent" value="@Model.FormContent" />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-controller="Form">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
